<div style="margin-top: 45px;">
  <div align="center">
	  <footer class="footer">
        Bu Kayıt Sistemi CodAre sunucusundan 『ƈα ~ HaNıM ☠KeLeŞi☠ GeTiR 』#0001 isimli ve "326692518118948865" id'li kullanıcı tarafından yapılmıştır. İzinsiz paylaşmak yasaktır.
	  </footer>
  </div>
</div>